.login {
  width: 100%;

  .btn {
    width: 190px;
    height: 46px;
    margin: 0 auto;
    background-image: url(https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png);
    cursor: pointer;
  }

}


