main {
	max-width: 800px;
	margin: 18px auto 18px auto;
	padding: 0 18px 0 18px;

	& > * {
		padding-top: 18px;
		width: 100%;
	}
}

.profile  mat-card {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	position: relative;

	.edit {
		position: absolute;
		top: 10px;
		right: 10px;
		&:hover { cursor: pointer }
	}

	.picture  img {
		width: 150px;
		height: 150px;
		border-radius: 100%;
	}

	.info {
		width: 100%;
		margin-top: 18px;

		.row {
			mat-icon {
				position: relative;
				top: 2px;
			}

			mat-icon, label { font-size: 18px }
			&:not(:last-child) { padding-bottom: 18px }
		}

		.links {
			& > * { margin: 5px }
			a:hover { cursor: pointer }
		}
	}
}

.left {
	width: 70%;
	p { margin-bottom: 0 }
}
