main {
	max-width: 80%;
	margin: 18px auto 18px auto;

	& > * {
		padding-top: 18px;
		width: 100%;
	}
}

.info {
	mat-card {
		display: flex;
	}
}

.left {
	width: 100%;
}

.right {
	margin: 0;
	padding: 0;
	width: 150px;
	height: 150px;
	img {
		width: 150px;
		height: 150px;
	}
}

