main {
	max-width: 800px;
	margin: 18px auto 18px auto;
  padding: 0 18px 0 18px;

	& > * {
		padding-top: 18px;
		width: 100%;
	}
}

.profile {
	mat-card {
		max-width: 400px;
		margin: 0 auto;
    text-align: center;
    position: relative;

    span {
    	position: absolute;
    	top: 10px;
    	right: 10px;
    	&:hover {
    		cursor: pointer;
    	}
    }
	}
}

.picture {
	img {
		width: 150px;
		height: 150px;
    border-radius: 100%;
	}
}

.info {
	width: 100%;
	margin-top: 18px;

	p, a{
		font-size: 14px;
	}

	.row {
    padding-bottom: 9px;
		i, label {
			font-size: 18px;
		}
	}
}



// @media only screen and (max-width: 450px) {
// 	.profile {
// 		mat-card {
// 			flex-direction: column-reverse;
// 			.picture {
// 				margin: 0 auto;
// 			}
// 		}
// 	}
// }