<main *ngIf=profile>

	<section class="profile">
		<mat-card>
			
			<div class="picture" *ngIf="profileUrl !== undefined">
				<img  [src]="profileUrl | async" />
			</div>

			<div class="info">
				<div class="row">
					<mat-icon>face</mat-icon>
					<label>{{profile.info.name}}</label>
				</div>
				<div class="row">
					<mat-icon>security</mat-icon>
					<label>{{profile.info.socialNr}}</label>
				</div>
				<div class="row">
					<mat-icon class="material-icons">place</mat-icon>
					<label>{{profile.info.street}}, {{profile.info.city}}</label>
				</div>
				<div class="row">
					<mat-icon class="material-icons">phone</mat-icon>
					<label>{{profile.info.phoneNr}}</label>
				</div>
				<div class="row links">
					<a href="{{profile.info.linkedin}}">
						<img src="assets/linkedin.png">
					</a>
					<a href="{{profile.info.github}}">
						<img src="assets/github.png">
					</a>
				</div>
			</div>

		</mat-card>
	</section>

	<section class="educations">
		<mat-card>
			<p class="s title">Educations</p>
			<div class="education flex between mt" *ngFor="let edu of profile.educations">
				<div class="left">
					<span class="s header">{{edu.name}}, {{edu.location}}</span>
					<p class="s about">{{edu.about}}</p>
				</div>
				<div class="right">
					<span class="s header">{{edu.start}} - {{edu.end}}</span>
				</div>
			</div>
		</mat-card>
	</section>

	<section class="employments">
		<mat-card>
			<p class="s title">Employments</p>
			<div class="employment flex between mt" *ngFor="let emp of profile.employments">
				<div class="left">
					<span class="s header">{{emp.name}}, {{emp.location}}</span>
					<p class="s about">{{emp.about}}</p>
				</div>
				<div class="right">
					<span class="s header">{{emp.start}} - {{emp.end}}</span>
				</div>
			</div>
		</mat-card>
	</section>

	<section class="projects">
		<mat-card>
			<p class="s title">Projects</p>
			<div class="project flex between mt" *ngFor="let pro of profile.projects">
				<div class="left">
					<span class="s header">{{pro.name}}</span>
					<p class="s about">{{pro.about}}</p>
				</div>
				<div class="right">
					<span class="s header">{{pro.start}} - {{pro.end}}</span>
				</div>
			</div>
		</mat-card>
	</section>

	<section class="languages">
		<mat-card>
			<p class="s title">Languages</p>
			<div class="language" *ngFor="let lan of profile.languages">
				<span class="s header">{{lan}}</span>
			</div>
		</mat-card>
	</section>

	<section class="licenses">
		<mat-card>
			<p class="s title">Driving Licenses</p>
			<div class="license" *ngFor="let lic of profile.drivingLicenses">
				<span class="s header">{{lic.country}} - {{lic.type}}</span>
			</div>
		</mat-card>
	</section>

	<section class="references">
		<mat-card>
			<span class="s header">References can be provided on request</span>
		</mat-card>
	</section>

</main>